header {
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .aboutInfo {
  margin-left: 15px;
}

header .aboutInfo h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24.5px;
  color: green;
}

.aboutInfo p {
  font-size: 14px;
  line-height: 17px;
  color: #9D9D9D;
}

.utils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.utils * {
  cursor: pointer;
}

.utils-item:not(:last-child) {
  margin-right: 32px;
}

.utils-item > :first-child {
  margin-right: 10px;
}
