.cart {
  // display: flex;
  // flex-direction: column;


  .cartHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
      & img {
        cursor: pointer;
        width: 20px;
        height: 20px;
        transition: transform 0.2ms ease-in-out;
  
          &:hover {
            transform: scale(0.9);
          }
      }
  }
  
  .cartItems {
    margin-top: 30px;
    overflow: auto;
    flex: 1;
  
      .cartItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 325px;
        padding: 20px;
        margin-top: 10px;
        border: 1px solid #f3f3f3;
        border-radius: 10px;
        overflow: hidden;
  
          .cartItemAbout {
            max-width: 150px;
            margin-left: 20px;
            font-size: 14px;
  
              .cartItemPrice {
                margin-top: 10px;
                font-weight: 700;
              }
          } 
  
          .cartRemove {
            cursor: pointer;
            margin-left: 10px;
            opacity: 0.5;
            transition: 0.15s ease-in-out;
  
              &:hover {
                opacity: 1;
              }
          }
      }
  }
  
  .cartTotal {
    font-size: 16px;
  
      .cartTotalItem {
        margin-top: 20px;
        display: flex;
        align-items: flex-end;
        gap: 10px;
      }
  
      .dash {
        position: relative;
        top: -4px;
        width: 167px;
        height: 1px;
        flex: 1;
        border-top: 1px dashed #dfdfdf;
      }
  }
}