.cartTotal {
  font-size: 16px;

    .cartTotalItem {
      margin-top: 20px;
      display: flex;
      align-items: flex-end;
      gap: 10px;
    }

    .dash {
      position: relative;
      top: -4px;
      width: 167px;
      height: 1px;
      flex: 1;
      border-top: 1px dashed #dfdfdf;
    }
}