.headerContainer {
  /* margin-top: 100px; */
  display: flex;
  align-items: center;
  justify-content: space-between;

    .searchingContainer {
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 0px 10px;
    display: flex;
    align-items: center;

      img {
        cursor: pointer;
        width: 15px;
        height: 15px;
      }

      input {
        max-width: 250px;
        padding: 15px;
        border: none;

          &:focus {
            outline: none;
          }
      }
  }

  .title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}
}