* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}


body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

.App {
  margin: 50px auto;
  padding: 25px;
  max-width: 1080px;
  background-color: lightblue;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

header {
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutInfo {
  margin-left: 15px;
}

.aboutInfo h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24.5px;
}

.aboutInfo p {
  font-size: 14px;
  line-height: 17px;
  color: #9D9D9D;
  ;
}

.utils {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.utils * {
  cursor: pointer;
}

.utils-item:not(:last-child) {
  margin-right: 32px;
}

.utils-item > :first-child {
  margin-right: 10px;
}

.content {
  padding: 0px 15px;
}

.title {
  margin-top: 100px;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.sneakers {
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-start; */
  align-items: center;
  gap: 40px;
}

.sneakers-item {
  border: 1px solid #BDBDBD;
  border-radius: 40px;
  max-width: 210px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  background-color: #F3F3F3;
  font-size: 14px;
  line-height: 17px;
}

.item {
  width: 133px;
  height: 112px;
}

.sneakers-item-info {
  cursor: pointer;
}

.sneakers-item-price-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sneakers-item-price-details {
  display: flex;
  flex-direction: column;
}

.sneakers-item-price-title {
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  color: #BDBDBD;
  text-transform: uppercase;
}

.sneakers-item-price {
  font-weight: 700;
}

.plus {
  cursor: pointer;
  width: 11px;
  height: 11px;
}