* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

ul,ol {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

.greenButton {
  position: relative;
  width: 325px;
  height: 55px;
  padding: 20px 0px;
  margin-top: 25px;
  background-color: #9DD458;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  transition: background 0.1s ease-in-out;
}

.greenButton:hover {
  background-color: lighten(#9DD458, 5%);
}
.greenButton:active {
  background-color: darken(#9DD458, 5%);
}

.App {
  /* position: relative; */
  margin: 50px auto;
  padding: 25px;
  max-width: 1080px;
  background-color: lightblue;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

header {
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutInfo {
  margin-left: 15px;
}

.aboutInfo h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24.5px;
}

.aboutInfo p {
  font-size: 14px;
  line-height: 17px;
  color: #9D9D9D;
  ;
}

.utils {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.utils * {
  cursor: pointer;
}

.utils-item:not(:last-child) {
  margin-right: 32px;
}

.utils-item > :first-child {
  margin-right: 10px;
}

.content {
  padding: 0px 15px;
}

.header-container {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searching-container {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 0px 10px;
  display: flex;
  align-items: center;
}

.searching-container img {
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.searching-container input {
  max-width: 250px;
  padding: 15px;
  border: none;
}

.searching-container input:focus {
  outline: none;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.sneakers {
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.sneakers-item {
  cursor: pointer;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  max-width: 210px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 14px;
  background-color: #F3F3F3;
  font-size: 14px;
  line-height: 17px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.sneakers-item:hover {
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.06);
  transform: translateY(-2px);
}

.favorite {
  position: absolute;
  cursor: pointer;
}

.item {
  width: 133px;
  height: 112px;
}

.sneakers-item-price-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sneakers-item-price-details {
  display: flex;
  flex-direction: column;
}

.sneakers-item-price-title {
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  color: #BDBDBD;
  text-transform: uppercase;
}

.sneakers-item-price {
  font-weight: 700;
}

.plus {
  width: 11px;
  height: 11px;
}

.overlay {

  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  position: absolute;
  width: 420;
  height: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: red;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
}


.cart-items {
  margin-top: 30px;
  overflow: auto;
  flex: 1;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 325px;
  padding: 20px;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
}

.cart-item-about {
  max-width: 150px;
  margin-left: 20px;
  font-size: 14px;
}

.cart-item-price {
  margin-top: 10px;
  font-weight: 700;
}

.cart-remove {
  cursor: pointer;
  margin-left: 10px;
  opacity: 0.5;
  transition: 0.15s ease-in-out;
}

.cart-remove:hover {
  opacity: 1;
}

.cart-total {
  font-size: 16px;
}

.cart-total-item {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.dash {
  position: relative;
  top: -4px;
  width: 167px;
  height: 1px;
  flex: 1;
  border-top: 1px dashed #dfdfdf;
}

.greenButton img {
  position: absolute;
  right: 40px;
  transition: transform 0.15s ease-in-out;
}
.greenButton img:hover {
  transform: translateX(5px);
}

