* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

.App {
  /* position: relative; */
  margin: 50px auto;
  padding: 25px;
  max-width: 1080px;
  background-color: lightblue;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

header {
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  padding: 0px 15px;
}

.header-container {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searching-container {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 0px 10px;
  display: flex;
  align-items: center;
}

.searching-container img {
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.searching-container input {
  max-width: 250px;
  padding: 15px;
  border: none;
}

.searching-container input:focus {
  outline: none;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.sneakers {
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: red;
  letter-spacing: 2px;
}
